body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #2ce78a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  background: #baf874;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000001a;
  width: 320px;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.register-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #000000;
  font-size: 1rem;
  box-sizing: border-box;
}

.register-container button {
  width: 100%;
  padding: 0.7rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #0056b3;
}

.register-container p {
  text-align: center;
  margin-top: 1rem;
}

.register-container a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 250px) {
  .register-container {
    width: 90%;
    padding: 1rem;
  }

  .register-container h2 {
    font-size: 1rem;
  }

  .register-container input,
  .register-container button {
    font-size: 0.9rem;
  }
}
